<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>37940974427-vipg6ii5fr76jfgfn6u87oq567853nmh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.37940974427-vipg6ii5fr76jfgfn6u87oq567853nmh</string>
	<key>API_KEY</key>
	<string>AIzaSyAeaVNfZe-zFTy7IMx9TNFSwdVpLaR788c</string>
	<key>GCM_SENDER_ID</key>
	<string>37940974427</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.letsEat</string>
	<key>PROJECT_ID</key>
	<string>let-s-eat-b7443</string>
	<key>STORAGE_BUCKET</key>
	<string>let-s-eat-b7443.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:37940974427:ios:8cd75231926485b917807e</string>
</dict>
</plist>